@mixin centrar_elemento{
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.centrar {
   @include centrar_elemento;
}

@mixin titulos{
	font-family: 'Roboto';
	font-size: 3rem;
	text-align:center;
}	

.estilo__titulo{
	@include titulos;
	color: rgba(8,167,135,1);
	text-shadow: 5px 5px 5px #72727296;
	font-weight: 300;
	text-transform: uppercase;
	padding: 2rem 0 2rem 0;
	@media (min-width: 768px) {
		font-size: 5rem;
		padding: 4rem 0 4rem 0;
   	}
}

.estilo__subtituloVerde{
	@include titulos;
	color: rgba(8,167,135,1);
	text-shadow: 5px 5px 5px #72727296;
	font-weight: 300;
	text-transform: uppercase;
	padding: 2rem 0 2rem 0;
	@media (min-width: 768px) {
		font-size: 3rem;
		padding: 4rem 0 3rem 0;
   	}
}
.estilo__subtituloBlanco{
	@include titulos;
	font-size: 3rem;
	color: rgb(255, 255, 255);
	text-shadow: 5px 5px 5px #72727296;
	font-weight: 400;
	text-transform: uppercase;
	padding: 2rem 0 2rem 0;
	@media (min-width: 768px) {
		font-size: 3rem;
		padding: 4rem 0 3rem 0;
   	}
}

.subtituloVerdeChico{
	@include titulos;
	color: rgba(8,167,135,1);
	text-shadow: 5px 5px 5px #72727296;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 2rem;
	@media (min-width: 768px) {
		font-size: 3rem;
	}
}




@mixin boton{
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	
}

.btn__verde {
	@include boton;
	transition: transform 0.5s;
	background-color: rgba(8, 167, 135, 1);
	border: none;
	
	&:hover {
		transform: scale(105%);
		background-color:  rgb(7, 120, 97);
	}

	a {
		text-align: center;
		color: white !important;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
		text-decoration: none;
		&:hover {
			font-weight: bold;
		}
	}
}




.btn__blanco {
	@include boton;
	transition: transform 0.5s;
	background-color: rgb(255, 255, 255);
	border:  none;

	
	&:hover {
		transform: scale(105%);
		}

	a {
		text-align: center;
		color:  rgb(7, 120, 97);
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 400;
		text-decoration: none;
		&:hover {
			font-weight: bold;
		}
	}
}